.copyright {
    width: auto;
    background-color: black;
    font-size: 20px;
    font-style: normal;
    font-family: monospace;
}

.copyright ul {
    width: auto;
    list-style-type: none;
    overflow: hidden;
}

.copyright li {
    float: right;
    margin-right: 100px;
    width: 150px;
}

.copyright li a {
    display: block;
    color: gray;
    text-align: center;
    text-decoration: none;
}

.copyright li a:hover:not(.active) {
    color: white;
}

/* For home.html */
.home {
    width: auto;
    height: 1150px;
    padding: 20px;
    font-family: Impact;
    font-size: 80px;
    font-style: oblique;
    color: whitesmoke;
    background-color: black;
}

.menu {
    width: auto;
    height: 100px;
}

.menu ul {
    width: auto;
    list-style-type: none;
    margin: auto;
    overflow: hidden;
}

.menu li {
    font-family: monospace;
    font-size: 30px;
    float: left;
    width: 200px;
}

.menu li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover:not(.active) {
    color: white;
}

.menu .active {
    color: white;
}


/* For news.html */
.news {
    width: auto;
    height: 1150px;
    margin: auto;
    padding: 20px;
    font-family: Impact;
    font-size: 80px;
    font-style: oblique;
    color: whitesmoke;
    background-color: black;
}

.news_sub {
    font-size: 30px;
    width:512px;
    height:600px;
    top: 300px;
    margin-left: 650px;
    position: absolute;
    background-color:rgba(10,0,0,0.5);
    opacity: 0.8;
}


/* For matchday.html */
thead.matchday {
    margin: auto;
}

.matchday {
    width: auto;
    height: auto;
    margin: auto;
    padding: 20px;
    font-family: Impact;
    font-size: 80px;
    font-style: oblique;
    color: whitesmoke;
    background-color: black;
}

.matchday table{
    margin-left: 100px;
    border-collapse: collapse;
    background-color:rgba(40,40,30,0.8);
    opacity: 0.8;
}

.matchday thead th {
    width: 100px;
    border:0; 
    border:1px solid #E6E6E6; 
    color:#888; 
    font-size:12px; 
    font-weight:normal; 
    background-color:#F7F7F7; 
    letter-spacing:-1px;
}

.matchday th.clubname {
    width: 200px;
    height: auto;
}

.matchday td {
    border: 1px solid #E6E6E6;
    border-left: none;
    font-size: 20px;
    font-family: monospace;
    font-style: normal;
    color: ghostwhite;
    text-align: center;
}

.matchday td.right {
    border: 1px solid #E6E6E6;
    border-right: none;
}

.matchday td.date {
    font-weight: bold;
}

.matchday span.title {
    font-size: 20px;
    font-family: impact;
    font-style: normal;
    margin-left: 100px;
}

.matchday span.win {
    opacity: 1;
}

.matchday span.lose {
    opacity: 0.5;
}

.club {
    width: auto;
    height: 900px;
    margin: auto;
    padding: 20px;
    font-family: Impact;
    font-size: 80px;
    font-style: oblique;
    color: whitesmoke;
    background-color: black;
}

.club h1 {
    margin: auto;
    font-size: 50px;
    font-family: monospace;
}

.club span.draw {
    background-color:gray;
    font-size:15px;
    padding:5px;
}

.club span.win {
    background-color:darkgreen;
    font-size:15px;
    padding:5px;
}

.club span.lose {
    background-color:darkred;
    font-size:15px;
    padding:5px;
}

.club table {
    margin-left: 900px;
    font-size: 12px;
    color: black;
    background-color: black;
    opacity: 0.8;
}

.club th {
    padding: 5px;
    text-align: center;
    font-family: monospace;
    width: 50px;
    color: white;
    background-color: #585858;
    opacity: 1.0;
}

.club th.clubname {
    width: 100px;
}

.club tr {
    background-color: #424242;
}

.club tr.championsleague {
    background-color: #0A122A;
}

.club tr.degrade {
    background-color: #3B0B0B;
}

.club td {
    padding: 3px;
    width: 20px;
    text-align: center;
    font-family: monospace;
    color: whitesmoke;
}

/* For api.html */
.api {
    width: auto;
    height: 1200px;
    margin: auto;
    padding: 20px;
    font-family: Impact;
    font-size: 80px;
    font-style: oblique;
    color: whitesmoke;
    background-image: url('neymar.jpg');
    background-size: cover;
}

.app {
    width: auto;
    height: 1200px;
    margin: auto;
    padding: 20px;
    font-family: Impact;
    font-size: 80px;
    font-style: oblique;
    color: whitesmoke;
    background-image: url('zidane.jpg');
    background-size: cover;
}
