/* For home.html */
.home {
    width: 1200px;
    height: 900px;
    margin: auto;
    padding: 20px;
    font-family: Impact;
    font-size: 80px;
    font-style: oblique;
    color: whitesmoke;
    background-image: url('mahrez.jpg');
    background-size: cover;
}

.menu {
    width: 1200px;
    height: 100px;
}

.menu ul {
    width: 1200px;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

.menu li {
    font-family: monospace;
    font-size: 30px;
    float: left;
    width: 200px;
}

.menu li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover:not(.active) {
    color: white;
}

.menu .active {
    color: white;
}



.rank table{
    float: right;
    position: absolute;
    background-color: #0B2F3A;
    color: whitesmoke;
}

.rank th {
    border: 2px solid black;
    border-top: none;
    border-left: none;
    text-align: center;
    font-family: monospace;
    width: 40px;
    height: auto;
    background-color: #0A1B2A;
}

.rank th.club {
    width: 150px;
    background-color: #0A1B2A;
}

.rank td {
    border: 2px solid black;
    border-top: none;
    border-left: none;
    padding: 5px;
    width: 20px;
    text-align: center;
    font-family: monospace;
}

.rank tr.degrade {
    /*background-color: #0B615E;*/
    background-color: #58D3F7;
}

/* For news.html */
.news {
    width: 1200px;
    height: 900px;
    margin: auto;
    padding: 20px;
    font-family: Impact;
    font-size: 80px;
    font-style: oblique;
    color: whitesmoke;
    background-image: url('wenger.jpg');
    background-size: cover;
}

/* For matchday.html */
thead.matchday {
    margin: auto;
}

.matchday {
    width: 1200px;
    height: 900px;
    margin: auto;
    padding: 20px;
    font-family: Impact;
    font-size: 80px;
    font-style: oblique;
    color: whitesmoke;
    background-image: url('cup.jpg');
    background-size: cover;
}

.matchday table{
    margin: auto;
    border-collapse: collapse;
    background-color:rgba(10,0,0,0.6);
}

.matchday thead th {
    width: 100px;
    border:0; 
    border:1px solid #E6E6E6; 
    color:#888; 
    font-size:12px; 
    font-weight:normal; 
    background-color:#F7F7F7; 
    letter-spacing:-1px;
}

.matchday th.clubname {
    width: 200px;
    height: auto;
}

.matchday td {
    border: 1px solid #E6E6E6;
    border-left: none;
    font-size: 20px;
    font-family: monospace;
    font-style: normal;
    color: ghostwhite;
    text-align: center;
}

.matchday td.right {
    border: 1px solid #E6E6E6;
    border-right: none;
}

.matchday td.date {
    font-weight: bold;
}

.matchday span.title {
    font-size: 20px;
    font-family: impact;
    font-style: normal;
    margin-left: 500px;
}

.matchday span.win {
    opacity: 1;
}

.matchday span.lose {
    opacity: 0.5;
}

.club {
    width: 1200px;
    height: 900px;
    margin: auto;
    padding: 20px;
    font-family: Impact;
    font-size: 80px;
    font-style: oblique;
    color: whitesmoke;
    background-image: url('stadium.jpg');
    background-size: cover;
}

.club h1 {
    margin: auto;
    font-size: 50px;
    font-family: monospace;
}

.club table{
    margin: auto;
    background-color: #0B2F3A;
}

.club th {
    padding: 5px;
    text-align: center;
    font-family: monospace;
    width: auto;
    height: auto;
    background-color: #0B2161;
    color: whitesmoke;
}

.club td {
    padding: 10px;
    width: auto;
    height: auto;
    text-align: center;
    font-family: monospace;
    background-color: white;
}

.club span.draw {
    background-color:gray;
    font-size:15px;
    padding:5px;
}

.club span.win {
    background-color:darkgreen;
    font-size:15px;
    padding:5px;
}

.club span.lose {
    background-color:darkred;
    font-size:15px;
    padding:5px;
}

.pos_bournemouth { position:relative; }
.pos_arsenal { position:relative; margin-left: 37px; }
.pos_astonvilla { position:relative; margin-left: 37px; }
.pos_chelsea { position:relative; margin-left: 37px; }
.pos_crystalpalace { position:relative; margin-left: 37px; }
.pos_everton { position:relative; margin-left: 37px; }
.pos_leicester { position: relative; margin-left: 37px; }
.pos_liverpool { position:relative; margin-left: 37px; }
.pos_mancity { position:relative; margin-left: 37px; }
.pos_manu { position:relative; margin-left: 37px; }

.pos_newcastle { position: relative; }
.pos_norwich { position: relative; margin-left: 37px; }
.pos_southampton { position: relative; margin-left: 37px; }
.pos_stokecity { position: relative; margin-left: 37px; }
.pos_sunderland { position: relative; margin-left: 37px; }
.pos_swansea { position: relative; margin-left: 37px; }
.pos_tottenham { position: relative; margin-left: 37px; }
.pos_watford { position: relative; margin-left: 37px; }
.pos_westbromwich { position: relative; margin-left: 37px; }
.pos_westham { position: relative; margin-left: 37px; }

/* For api.html */
.api {
    width: 1200px;
    height: 900px;
    margin: auto;
    padding: 20px;
    font-family: Impact;
    font-size: 80px;
    font-style: oblique;
    color: whitesmoke;
    background-image: url('neymar.jpg');
    background-size: cover;
}